@charset "utf-8";

a{
    list-style: none;
}

#sousuo{
    height: 300px;
    width: 100%;
    background-image:url(./img/d31b0ef41bd5ad6e149c500d8dcb39dbb7fd3ceb.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#help_center{
    font-size: 36px;
    color: #fff;
}
#help_sousuo{
    position: relative;
    top: 110px;
}
#basic-addon2{
    width: 125px;
    background: #108CEE;
    border:none;
    color: #fff;
}
#tuijie{
    display: block;
    margin: 0 auto;

}
#tuijie>li{
    list-style: none;
    float: left;
}
#tuijie>li:first-child{
    padding-left: 14px;
}
#tuijie>li>a{
    font-size: 14px;
}

